@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Poppins:wght@300;400;500;600;700&display=swap');

*{
   /*  font-family: 'Libre Baskerville', serif; */
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    /* =========color========= */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;
    /* ======Transicion======= */
    --Trans-02: all 0.2 s ease;
    --Trans-03: all 0.3 s ease;
    --Trans-04: all 0.4 s ease;
    --Trans-05: all 0.5 s ease;
}
body{
    height: 100vh;
    background: var(--body-color);
    transition: var(--Trans-04);
}
